# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target
src-tauri/target/*
.tauri
.tauri/*

# Python 프로토타이핑 테스트용
python_test/*

# 위젯
AIOWidget/*
AIOWidget
바탕화면 위젯/*
바탕화면 위젯

# Firebase
firestore.rules